@page "/"

<PageTitle>Home</PageTitle>

<h1>Migrate VB6 Forms to ASP.NET Core Blazor!</h1>

I am Abhijit !!! Welcome to my new app. This is a sample Blazor application to demonstrate migration of legacy VB6 forms to modern ASP.NET Core Blazor components and pages. It is build on .NET 8 (LTS) and uses Blazor Server for client-side interactivity.

